# Auto detect text files and perform LF normalization
* text=auto

*.cpp linguist-language=C++
*.cxx linguist-language=C++
*.h linguist-language=C++
*.hpp linguist-language=C++
*.cmake linguist-generated
CMakeLists.txt linguist-language=C++
build/** linguist-generated
*.js linguist-generated
**/CMakeFiles/** linguist-generated
**/*_autogen/** linguist-generated
